<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletAccesoSistema</servlet-name>
        <servlet-class>BLL.ServletAccesoSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletBorrarUsuario</servlet-name>
        <servlet-class>BLL.ServletBorrarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDesconectarUsuario</servlet-name>
        <servlet-class>BLL.ServletDesconectarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDispatcher</servlet-name>
        <servlet-class>BLL.ServletDispatcher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInsertarUsuario</servlet-name>
        <servlet-class>BLL.ServletInsertarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMostrarEscrutinio</servlet-name>
        <servlet-class>BLL.ServletMostrarEscrutinio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerCenso</servlet-name>
        <servlet-class>BLL.ServletVerCenso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVotar</servlet-name>
        <servlet-class>BLL.ServletVotar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAccesoCambio</servlet-name>
        <servlet-class>BLL.ServletAccesoCambio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCambioContra</servlet-name>
        <servlet-class>BLL.ServletCambioContra</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAccesoSistema</servlet-name>
        <url-pattern>/ServletAccesoSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletBorrarUsuario</servlet-name>
        <url-pattern>/ServletBorrarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDesconectarUsuario</servlet-name>
        <url-pattern>/ServletDesconectarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDispatcher</servlet-name>
        <url-pattern>/ServletDispatcher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInsertarUsuario</servlet-name>
        <url-pattern>/ServletInsertarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMostrarEscrutinio</servlet-name>
        <url-pattern>/ServletMostrarEscrutinio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerCenso</servlet-name>
        <url-pattern>/ServletVerCenso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVotar</servlet-name>
        <url-pattern>/ServletVotar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAccesoCambio</servlet-name>
        <url-pattern>/ServletAccesoCambio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCambioContra</servlet-name>
        <url-pattern>/ServletCambioContra</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
